* {
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
  box-sizing: border-box;
}
.main {
  width: 100%;
  /* min-height: 100vh; */
  /* margin: 100px; */
  padding: 0px 100px;
  /* background-color: #e8fd969f; */
  margin-top: 40px;
}

.main > h2 {
  text-align: center;
  /* margin-top: 50px; */
  /* transform: translateY(200px); */
  font-size: x-large;
}
.main2 {
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: center;
  margin-top: 30px;
  /* width: 80%; */
}

@media screen and (max-width: 1350px) {
  .main2 {
    /* overflow-y: hidden; */
    /* width: 80%; */
    overflow-x: auto;
  }
  .main {
    padding: 0px 0px;
  }
}
@media screen and (max-width: 1100px) {
    .main2 {
      /* overflow-y: hidden; */
      /* width: 80%; */
      overflow-x: auto;
      margin-top: 300px;
    }
    .main {
      padding: 0px 0px;
    }

    .main > h2{
        font-size: medium;
        
    }
  }

  
