* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.gallerys {
  width: 100%;
  margin-top: 40px;
  padding: 0px 30px;
}
@media screen and (min-width: 768px) {
  .gallerys {
    padding: 0px 60px;
  }
}
@media screen and (min-width: 1150px) {
  .gallerys {
    padding: 0px 100px;
  }
}
